
<div class="col-sm-<%= smWidth %>">
    <div class="card">
        <a href="<%= link %>">
            <div class="embed-responsive embed-responsive-4by3">
                <img class="embed-responsive-item" src="<%= cam %>" %>  
            </div>
        </a>
    </div>
</div>