<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %> 
</head>


<body class="fixed-nav sticky-footer bg-light sidenav-toggled" id="page-top">
  
<%- include('partials/nav') %>

<div class="content-wrapper">
<div class="container-fluid bg-3 text-center">  
<!-- Begin Container  -->
    
Work in Progress

<!-- End Container  -->
</div>
</div>

<%- include('partials/footer') %>
</body>
</html>