<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta name="google-site-verification" content="ZxzvcpuiKsVz7ls-msP04CTmjAzew6l8TzIwLERDP0Q" /> -->
  
  <%- include('partials/head') %> 
 
</head>

<body class="fixed-nav sticky-footer bg-light sidenav-toggled" id="page-top">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
      <%- include('partials/nav') %>
  </nav>



<div class="content-wrapper">
  <div class="container-fluid bg-3 text-center">  

       <h3><%= name %></h3><br> 

           
          <div class="row">

            <div class="col-sm-4">
              <p>To be or not to be</p>
             
            </div>
            
            <div class="col-sm-4"> 
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            
            <div class="col-sm-4"> 
              <div id=screen_id></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

          </div>



  </div>
</div>



</body>
</html>