<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %> 

</head>




<body class="fixed-nav sticky-footer bg-light sidenav-toggled" id="page-top">
  
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">    <%- include('partials/nav') %>  </nav>


<div class="content-wrapper">
    <div class="container-fluid bg-3 text-center">  
    
        <div class='row'>
            <div class='col-sm-8 mx-auto'>
                <div class="card text-center">
                    <div class='card-body form-inline'>

                        <select class='form-control' style='width:280px' id="user_select" selected ></select>

                        <form> 
                            <div class="form-group form-inline">  
                                <button type="button" onClick="selectUser()" class="btn btn-primary mx-2 ">Select User</button>  
                            </div>
                        
                            <input type="hidden" id="sender_id" name="sender" value="">
                            <input type="hidden" id="io_id" name="io_id" value="">
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-2">

            <div class='col-sm-8 mx-auto'>
                <div class="card">
                    <div class='card-body'>
                        <form name='userForm' id='userForm'>
                
                            <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name='name' aria-describedby="emailHelp" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                            <label for="exampleInputPassword">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword" name='password' placeholder="Password">
                            </div>

                            <div class="row">  
                                <div class="form-group mx-2"> 
                                    <label for="lat">Latitude</label>
                                    <input class='form-control mr-2' type="text" id="lat" name="lat" placeholder="00.00">  
                                </div>
                                <div class="form-group mx-2">  
                                    <label for="lon">Longitude</label>
                                    <input class='form-control' type="text" id="lon" name='lon' placeholder="00.00">  
                                </div>
                            </div>
                            
                            <div class='row'>
                                <div class="form-group mx-2">  
                                    <label for="creationDate">Creation</label>
                                    <input class='form-control mr-2' type="text" id="creationDate" name='creationDate' placeholder="2020/01/01">   
                                </div>
                                <div class="form-group mx-2">  
                                    <label for="lastConnectDate">Last Connection</label>
                                    <input class='form-control' type="text" id="lastConnectDate" name='lastConnectDate' placeholder="2020/03/01">  
                                </div>
                            </div>

                            <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>    
                </div>
            </div>
   
           
        </div>
         
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card my-5 ">
                <div class="card-body ">
                    <form class="form-signin" action ="/user/deleteViaEmail" method="post" enctype="application/json" >
                        <div class="input-group">
                            <input type="email" class="form-control"  name='email' id="email_id" placeholder="Email address" required autofocus>
                            <span class="input-group-btn mx-2">
                                    <button class="btn btn-md btn-warning btn-block text-uppercase" type="submit">Delete User</button>
                            </span>
                        </div>
                    </form>           
                </div>
                    
                <div class='card text-center'>
                    <div class='card-body'>
                        <form action="/resetDB">
                            <button class="btn btn-md btn-warning btn-block text-uppercase" type="submit">!!!!  Reset DB !!!!</button>
                        </form>
                    </div>
                </div>
                
                </div>
            </div>
        </div>

        <div class="row">
            <div class='col-sm-12'>
                <div class="card">
                    <div class='card-body text-left'>
                        <small><div id='userList'></div></small>
                    </div>
                </div>
            </div>
        </div>
       


<script>
const userList = <%-JSON.stringify(users)%>
console.log("userlist:")
console.log(userList)




async function setUserList()
{
    let select = document.getElementById('user_select');
    for(let index in userList) {
            select.options[select.options.length] = new Option(userList[index].email, index);
    }


    let items = userList
    let listspan = document.createElement('span')
    //let status_ul = document.createElement('ul')

    document.getElementById('userList').appendChild(listspan)
    //document.getElementById('statusList').appendChild(status_ul)

    items.forEach( item =>{
        let li = document.createElement('p')
        listspan.appendChild(li)

        li.innerHTML += JSON.stringify(item, null, '\t') //  the null, '\t' is to prettyfy the string

    })
    const str = JSON.stringify(userList, null, '\t') //  the null, '\t' is to prettyfy the string
    console.log(str)

}
setUserList()


function getSelectedOption(sel) 
{
        var opt;
        for ( var i = 0, len = sel.options.length; i < len; i++ ) {
            opt = sel.options[i];
            if ( opt.selected === true ) {
                break;
            }
        }
        return opt;
}

function selectUser() 
{
  var sel = document.getElementById('user_select');
    for(let index in userList) 
    {
        let selected = getSelectedOption(sel)
        if(userList[index].email ==  selected.innerHTML)
        {
          console.log(userList[index])
          Tools.fillForm('userForm', userList[index])
        }
            
    }
 
}
</script>
        
 <!-- End Container  -->
</div>
</div>

<%- include('partials/footer') %>
</body>
</html>